<h1>OUTPUT</h1>
<br>
<h2>The cracked message:</h2>
<p><%= @crack.text %></p>
<br>
<p>Decrypted using date <%= @crack.date %> and key <%= @crack.key %></p>
<p>key: <%= @crack.key %>  date: <%= @crack.date %></p>
<br>
<%= link_to "Expecting a different key?", "https://github.com/markertmer/enigma#exploration" %>
<br>
<%= button_to "Destroy Record", "/cracks/#{@crack.id}", method: :delete %>
